html, body{
	min-height:100vh;	
}

body {
  background-image: linear-gradient(to right bottom, #b3daff, #A5B0B3);
  background-size: cover;
  background-repeat: no-repeat;}

.header  {
	background: rgba(255, 255, 255, 0.6);
}

.header__logo {
	margin-left: 5rem;
	height: 4.5rem;
	display: block;
}

table {
	counter-reset: rowNumber-1;
	border-radius: 25px;
}

.left__column {
	background: rgba(255, 255, 255, 0.6);
	height: calc(100% - 45px);
	height: -o-calc(100% - 45px); /* opera */
	height: -webkit-calc(100% - 45px); /* google, safari */
	height: -moz-calc(100% - 45px); /* firefox */
}

.right__column {
	background: rgba(255, 255, 255, 0.6);
}

.table__title {
	background: rgba(255,255,255,0.6);
	border-radius: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 5px;
	align-content: center;
}

input{
	width: 100%;
	max-width: 200px;
}

table tr {
    counter-increment: rowNumber;
    color: black;
    background-color: !transparent;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}


.table-striped>tbody>tr:nth-child(odd)>td{
   background: rgba(255,255,255,0.7);
}

.table-striped>tbody>tr:nth-child(even)>td {
	background: rgba(229,244,255, 0.8);
}

i.fas.fa-medal {
	visibility: hidden;
}

.table-striped>tbody>tr:nth-child(1)>td:nth-child(1){
   background-color: gold;
}

.table-striped>tbody>tr:nth-child(-n+3)>td>i.fas.fa-medal{
	visibility: visible;
}

.table-striped>tbody>tr:nth-child(2)>td:nth-child(1){
   background-color: silver;
}

.table-striped>tbody>tr:nth-child(3)>td:nth-child(1){
   background-color: peru;
}

input[type="text"] {
    box-sizing: inherit;
}

