<!DOCTYPE hmtl>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
<head>
<title>Ozii Service Home Page</title>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/home.css}" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 header">
			<img th:src="@{img/fox.png}" alt="Header banner" class="header__logo">
			</div>
		</div>
		<div class="row">
			<div class="col-2 left__column">
				<div class="row">
					<div class="col">Username:</div>
					<input type="text">
				</div>
				<div class="row">
					<div class="col">Password:</div>
					<input type="text">
				</div>
				<button>Sign in</button>
				
			</div>
			<div class="col-8">
				<table class="table table-striped">
					<div class="table__title span12" align="center">
						<h3>TABELA WYNIKÓW:</h3>
					</div>
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nick</th>
							<th scope="col">Score</th>
							<th scope="col">Date</th>
						</tr>
					</thead>
					<tbody>
					<!-- th:object="${tempPlayer} -->
						<tr th:each="tempPlayer : ${players}">
							<td><i class="fas fa-medal"></i></td>
							<td th:text="${tempPlayer.user.nick}" />
							<td th:text="${tempPlayer.score}" />
							<td th:text="${tempPlayer.lastGameDate}" />
						</tr>
					</tbody>
				</table>

			</div>
			<div class="col-2 right__column">
				<div id="techStackCarousel" class="carousel slide"
					data-ride="carousel">
					<!--
					<ol class="carousel-indicators">
						<li data-target="#techStackCarousel" data-slide-to="0"
							class="active"></li>
						<li data-target="#techStackCarousel" data-slide-to="1"></li>
						<li data-target="#techStackCarousel" data-slide-to="2"></li>
					</ol> -->
					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<img class="d-block w-100" th:src="@{img/stack/java.jpg}"
								alt="Java">
						</div>
						<div class="item">
							<img class="d-block w-100" th:src="@{img/stack/spring.png}"
								alt="Spring">
						</div>
						<div class="item">
							<img class="d-block w-100" th:src="@{img/stack/mysql.png}"
								alt="MySQL">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
